
#leftContainer {
  height: 100vh;
  margin-top: 0rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192, 178, 178);
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
}

#rightContainer  {
  padding: 1rem;
  height: 100vh;
  border-style: solid;
  border-width: 1px;
  margin-top: 0rem;
  margin-left: 1rem;
  border-color: rgb(192, 178, 178);
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
}


#userName {
  border-bottom-style: solid;
  padding: 1rem;
  margin-bottom: 2rem;
}

#banner  {
  background-image: url('../../../assets/USAF_photographer.jpg');
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 223, 223);
  margin: 10px 0 0 0;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 28%
}

#userCapitalsBox {
  margin-left: 12.5%;
  margin-bottom: -10vh;
  font-size: 60px;
  color: white;
  border: solid 5px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  background: rgb(2, 0, 95);
  height: 8rem;
  width: 8rem;
  z-index: 15;
}

.optionItem {
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.optionItem:hover {
  color: rgb(94, 93, 93);
  transform: translateX(5px);
}

.optionSelectedItem {
  margin-bottom: 1.5rem;
  color:rgb(2, 0, 95);;
  font-weight: bold;
}
